<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="siono.game.android.av.siono.gratis.Level_1"
            android:screenOrientation="portrait"/>
        <activity android:name="siono.game.android.av.siono.gratis.Level_2"
            android:screenOrientation="portrait"/>
        <activity android:name="siono.game.android.av.siono.gratis.Level_3"
            android:screenOrientation="portrait"/>
        <activity android:name="siono.game.android.av.siono.gratis.Levels_all"
            android:screenOrientation="portrait"/>
        <activity android:name="siono.game.android.av.siono.gratis.Calificacion"
            android:screenOrientation="portrait"/>

        <activity android:name="siono.game.android.av.siono.gratis.Menu"
            android:screenOrientation="portrait"/>

        <activity
            android:name="siono.game.android.av.siono.gratis.Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>




    </application>
</manifest>
